node_modules
.env
.env.local
.env.deploy 

# Hardhat files
/cache
/artifacts
/deployments
/deployments/localhost

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
