ALCHEMY_API_KEY=
INFURA_API_KEY=
MAINNET_FORKING_ENABLED=true
DEPLOYER_PRIVATE_KEY=
USER1_PRIVATE_KEY=
ETHERSCAN_API_KEY=
BASE_PROVIDER_API_KEY=
BASE_DEPLOYER_PRIVATE_KEY=
BASE_ETHERSCAN_API_KEY=
MODE=
MANAGED_POOL_CONTROLLER_ADDRESS=
POOL_ID=
VAULT_ADDRESS=
WINNING_TOKEN_ADDRESS=